# Bdd
# En local, ces identifiants correspondent au service `db` de docker-compose.yml
DATABASE_URL="postgresql://cyclome:cyclome_dev@localhost:5432/cyclome?schema=public"

# Auth
# Génératio clé avec : openssl rand -base64 32
BETTER_AUTH_SECRET="a_remplacer_par_une_cle_de_32_caracteres_minimum"
BETTER_AUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# externes
# Base Adresse Nationale : gratuite, sans clé d'API
ADDRESS_API_URL="https://api-adresse.data.gouv.fr"
